# Ignore everything
*
# Except for files:
!.gitignore
!*.c
!*.cpp
!*.h
!*.hpp
!*.idl
!*.md
!*.json
!*.sh
!*.png
!*.gif
!Makefile

# Except for directories:
!**/.vscode/
!**/cJSON/
!**/include/
!**/src/
!**/docs/
!**/idl/